<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="cusAddress">
      <th mat-header-cell *matHeaderCellDef> Customer Address </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="cusCity">
      <th mat-header-cell *matHeaderCellDef> Customer City </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="cusFName">
      <th mat-header-cell *matHeaderCellDef> Customer First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="cusId">
      <th mat-header-cell *matHeaderCellDef> Customer ID </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cusLName">
        <th mat-header-cell *matHeaderCellDef> Customer Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <!-- Symbol Column -->
    <ng-container matColumnDef="cusPostalCode">
        <th mat-header-cell *matHeaderCellDef> Postal Code </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <!-- Symbol Column -->
    <ng-container matColumnDef="cusState">
        <th mat-header-cell *matHeaderCellDef> Province </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <!-- Symbol Column -->
    <ng-container matColumnDef="cusTel">
        <th mat-header-cell *matHeaderCellDef> Telephone </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  